<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
<connectionStrings>
		<!-- Example connection to a SQL Server Database on localhost. -->
		<!-- <add name="ExampleConnectionString"
			connectionString="Data Source=.;Initial Catalog=DBName;Integrated Security=True"
			providerName="System.Data.SqlClient" /> -->
	<add name="MySQLConnectionString" connectionString="Server=192.168.0.247;Database=glpi;Uid=bprazeres;Pwd=Brenner2020!;Connect Timeout=3000;" />
	<add name="NOSSADROGARIA"
      connectionString="Server=SRVBD;Initial Catalog=NossaDrg;User id=u_sci;password=@n0ss@drg;Min Pool Size=10;Pooling=true;Max Pool Size=200;"
      providerName="System.Data.SqlClient"/>
	<add name="NOSSADROGARIA_VENDA" connectionString="Server=SRVBD;Initial Catalog=NossaDrg_Venda;User id=u_sci;password=@n0ss@drg;Min Pool Size=10;Pooling=true;Max Pool Size=200;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>